<%- include("partials/header.ejs") %>

      <div class="container text-center">
        <header class="pb-3 mb-4 border-bottom p-2">
          <a href="/constProduct" class="text-body-emphasis text-decoration-none">
            <!--<img
              src="https://paguemenos.vtexassets.com/arquivos/logoMarcaPagueMenos.png"
              width="140"
              height="50"
              class="me-2"
              viewBox="0 0 118 94"
              role="img"
            >
              <title>Pague Menos</title>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                fill="currentColor"
              ></path>
            </img> -->

            <span class="fs-1">Consulta de produtos</span>
          </a>
        </header>
      </div>

      <form action="/constProduct" method="POST">
        <div class="container d-flex justify-content-center">
          <div class="p-5 bg-body-tertiary rounded-3 text-center">
            <div class="form-floating mb-3">

              <div class="d-flex align-items-center mb-3 justify-content-center">
                <select class="form-select me-3" style="width: 300px" aria-label="Default select example" name="categoria">
                  <option value="" selected>Selecione uma Categoria</option> 
                  <option value="Genérico">Genérico</option>
                  <option value="RX">RX</option>
                  <option value="Controlados">Controlados</option>
                  <option value="Antibioticos">Antibioticos</option>
                  <option value="Perfumaria">Perfumaria</option>
                  <option value="Alimentos">Alimentos</option>
                  <option value="OTC">OTC</option>
                </select>

                <select class="form-select me-3"  style="width: 300px" aria-label="Default select example" name="consulta">
                  <option value="" selected>Selecione uma Consulta</option>
                  <option value="Retirada">Retirada</option>
                  <option value="Desconto">Desconto</option>
                  <option value="Vencidos">Vencidos</option>
                </select>
              
                <button type="constProduct" class="btn btn-primary me-2">
                  Consultar
                </button>

                <a class="btn btn-danger" href="/deleteProduct">Deletar</a>
              </div>
              
            <div id="tableHelp" class="form-text mb-3"><%= text %></div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Lote</th>
                    <th>Nome</th>
                    <th>Validade</th>
                    <th>Categoria</th>
                  </tr>
                </thead>
                <tbody>
                  <% dados.forEach(dado => { %> 
                    <tr>
                      <td><%= dado.lote %></td>
                      <td><%= dado.name %></td>
                      <td><%= new Date(dado.date).toLocaleDateString('pt-BR', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></td>
                      <td><%= dado.category %></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>   
          </div>
        </form>
       </div>
      </div>

  <%- include("partials/footer.ejs") %>
    